*{
    margin: 0px;
    padding: 0px;
}

.blinkit-navbar{
    border-bottom: 1px solid rgb(238, 238, 238);
    position: sticky;
    top: 0px;
    height: 86px;
    background-color: white;
    z-index: 9999;
}

.vertical-line{
    border-left: 1px solid rgb(238, 238, 238);
    height: 100%;
}

.location>p{
    font-size: 13px;
    font-weight: 400;
}

.search-bar{
    background-color: #f8f8f8;
    border-radius: 8px;
    border: 1px solid rgb(238, 238, 238);
    padding: 10px;
    width: 40vw; 
}

.search-bar>input{
    border: none;
    width: 95%;
    background-color: transparent;
    font-size: 14px;
    color: transparent;
}

.search-bar>input:focus{
    outline: none;
}

.hero{
    width: 100vw;
}

.scroll-div , .categoires-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    overflow-x: auto;
    width: 85vw;
}

.list , .cat-div{
    width: 100%;
    margin-inline: auto;
    white-space: nowrap;
}

.list>div , .my-categories-row>div{
    display: inline-block;
    margin: 10px;
}

::-webkit-scrollbar{
    display: none;
}

.my-categories{
    display: flex;
    flex-direction: row;
    width: 85vw; 
    justify-content: space-between;
    flex-wrap: wrap;
    margin-inline: auto;
}

.categoires-div{
    display: flex;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-inline: auto;
    margin-bottom: 30px;
}

.my-categories-row{
    display: flex;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto; 
    overflow-x: auto;
}

.my-card{
    width: 200px;
    box-sizing: border-box;
    white-space: nowrap;
}

.time-taken{
    font-size: 9px;
    font-weight: 700;
    width: fit-content;
    color: rgb(54, 54, 54);
    padding: 1px 3px;
}

.timer{
    width: 13px;
}

.product-name{
    color: rgb(31, 31, 31);
    font-weight: 700;
    font-size: 13px;
    width: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.product-weight{
    color: #666;
    font-size: 11px;
}

.product-price{
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 12px;
}

.product-btn{
    border: 1px solid green;
    color: rgb(49, 134, 22);
    border-radius: 6px;
    background-color: rgb(247, 255, 249);
    width: 66px;
    text-transform: uppercase;
    font-weight: 700;
}

.my-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    margin-inline: auto;
}

.row-1{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

td{
    padding: 0px 20px;
    color: #666;
    font-size: 18px;
    cursor: pointer;
}

th{
    font-weight: 600;
}

.table-1{
    flex: 2;

}

.table-2{
    flex: 4;
}

.row-2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-2-col-1{
    width: 30vw;
}

.row-2-col-2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-2-col-2>button{
    width: 100px;
    height: 30px;
    color: white;
    border-radius: 6px;
    border: none;
    background-color: #213b50;
    margin-inline: 5px;
}

.row-2-col-3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-2-col-3>a{
    border-radius: 50%;
    background-color: black;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 5px;
}

.row-3{
    color: #666;
    font-size: 16px;
    padding: 10px;
}